<div >
  
  <div class="component">
    <h2>Edit Flight</h2>
    <div>
      <div class="row">
        <div class="col-25">
          <label>
            Departure:
          </label>
        </div>
        <div class="col-75">
          <input class="in" [(ngModel)]="flightData.departure" placeholder="Flight departure" />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>
            Arrival:
          </label>
        </div>
        <div class="col-75">
          <input class="in" [(ngModel)]="flightData.arrival" placeholder="Flight arrival" />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>
            Price:
          </label>
        </div>
        <div class="col-75">
          <input class="in" [(ngModel)]="flightData.price" placeholder="Flight Price" />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>
            Number of seats:
          </label>
        </div>
        <div class="col-75">
          <input class="in" [(ngModel)]="flightData.numberOfSeats" placeholder="Flight Number of seats" />
        </div>
      </div>
      <div class="row btn">
        <button (click)="updateFlight()">Update</button>
      </div>
    </div>
    
  </div>
  <div class="double_list">
    <div class="inline">
      <label>Tourist on board:</label>
      <ul class="list">
        <li *ngFor="let p of flightData.tourists; let i=index;">
          <div>
            <span class="badge">{{i+1}}</span> {{p.firstName}} {{p.lastName}}
          </div>
          <button class="delete" title="delete flight"
                  (click)="delete(p.id)">
            x
          </button>
        </li>
      </ul>

    </div>
    <div class="inline">
      <label>Add tourist on board</label>
      <ul class="list">
        <li *ngFor="let t of touriatData; let i=index;">
          <div>
            <span class="badge">{{i+1}}</span> {{t.firstName}} {{t.lastName}}
          </div>
          <button class="delete" title="add tourist"
                  (click)="addTourist(t.id)">
            +
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

